@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>This is a simple web app in which you can manage locally stored movies and tv shows!</h1>
    <h2>Start by going to your <a asp-controller="Media" asp-action="Index">Library</a> page.</h2>
</div>
